################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Games/obj/Debug
/CursStudentiInfo/obj/Debug
/.vs/CursStudentiInfo/v15/Server/sqlite3
/WpfCursStudentiInfo/obj/Debug
/Logging/obj/Debug
